RewriteEngine On
RewriteRule ^(.*)index\.php$ / [R]
RewriteRule ^(home)$ / [R]

ErrorDocument 401 /error/401.html
ErrorDocument 403 /error/403.html
ErrorDocument 404 /error/404.html

#RewriteCond %{HTTPS} !=on
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(products|contact|login|myaccount)$ /?page=$1 [QSD,L]
RewriteRule ^(products)/([0-9]+)$ /?page=$1&tab=$2 [QSD,L]
RewriteRule ^(products)/([0-9]+)/(.*)$ /?page=$1&tab=$2&s=$3 [QSD,L]
RewriteRule ^(product)/(.*)$ /?page=$1&product=$2 [QSD,L]
RewriteRule ^(picture)/(.*)$ /img/$2 [QSD,L]
