@font-face {
    font-family: "Caviar dreams";
    src: url("font/CaviarDreams_Bold.ttf") format("truetype");
}

/*=================*/
/*===== BASIC =====*/
/*=================*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: "Caviar dreams"; /* Default font-family */
    color: black;
    outline: none;
}

p.error, p.valide{
    padding: 15px 30px;
    border-radius: 5px;
    margin-left: 10px;
}

p.error{
  background-color: #ff00005c;
  border: 2px solid red;
}

p.valide{
  background-color: #00ff005c;
    border: 2px solid green;
}

#tabs a.active{
    color: gray;
}

/*=======================*/
/*===== SEARCH FORM =====*/
/*=======================*/

#search_form{
  box-shadow: 0 0 5px 0 #777777;
  border-radius: 3px;
  padding: 2px 10px 5px 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}

#search_form input{
  font-size: 24px;
  padding: 5px 1px;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
}

#search_form button[type='submit']{
  border: none;
  padding: 3.8px 5px;
  margin-top: 9px;
}

#search_form button[type='submit']:hover{
  cursor: pointer;
}

#search_form button[type='submit']:before{
  content: url("/picture/search.png");
  zoom: 6%;
}

/*========================*/
/*===== PRODUCT LIST =====*/
/*========================*/

#product_list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

#product_list .product{
    width: 230px;
    height: 250px;
    margin: 10px 30px;
    padding: 20px;
    border: 1px solid #dadada;
}

#product_list .product:hover{
    box-shadow: 0 0 20px -8px black;
}

#product_list .product a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#product_list .product a{
    padding: 10px;
}

#product_list .product a img{
    height: 50%;
    width: 80%;
}

#product_list .product a .price{
    color: green;
}

#product_list .product a:active{
    color: gray;
}

/*==================*/
/*===== HEADER =====*/
/*==================*/
header{
    margin-top: 5px;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}

header nav div a img{
    height: 70px;
}

header nav ul{
    height: fit-content;
}

header nav div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
}

header nav ul li a{
    padding: 20px;
    transition: color 300ms;
}

header nav ul li a.active{
    color: gray;
}

header nav ul li a:hover{
    color: gray;
}

/*===================*/
/*===== SECTION =====*/
/*===================*/

section{
    width: 75%;
    margin-left: calc(25% / 2);
    margin-top: 25px;
    margin-bottom: 50px;
}

/*================*/
/*===== HOME =====*/
/*================*/

#home{
    display: flex;
    flex-direction: column;
    height: 425px;
    justify-content: space-around;
}

#home #present{
    display: flex;
    align-items: center;
}

#home #present #perso{
    width: 45%
}

#home #present #perso p{
    text-align: justify;
}

#home #present #carousel{
    width: 100%
}

#home .gallery {
  width: 100%;
  zoom: 0.8;
}

#home .gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

#home .gallery-item {
  height: 150px;
  opacity: 0;
  position: absolute;
  transition: transform, left 0.3s cubic-bezier(0.05, 0.24, 0.99, 0.95);
  width: 150px;
  z-index: 0;
}

#home .gallery-item-1, .gallery-item-5 {
  display: none;
}

#home .gallery-item-2,
#home .gallery-item-4 {
  height: 200px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

#home .gallery-item-2 {
  left: 23%;
  transform: translateX(-50%) rotateY(45deg);
}

#home .gallery-item-3 {
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

#home .gallery-item-4 {
  left: 76%;
  transform: translateX(-50%) rotateY(45deg);
}

#home .gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#home .gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

#home .gallery-controls button:focus {
  outline: none;
}

#home .gallery-controls-previous, #home .gallery-controls-next {
  position: relative;
}

#home .gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

#home .gallery-controls-previous:hover::before {
  left: -18px;
}

#home .gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

#home .gallery-controls-next:hover::before {
  right: -18px;
}

#home .gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

#home .gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

#home .gallery-nav li.gallery-item-selected {
  background: #555;
}

#home #search form{
  width: fit-content;
}

#home #search form input{
  width: auto;
}

/*===================*/
/*===== CONTACT =====*/
/*===================*/

#contact{
  display: flex;
}

#contact form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#contact form div{
  display: flex;
  flex-direction: column;
}

#contact form > div > div{
  margin-top: 25px;
}

#contact form textarea{
  margin-top: 15px;
  margin-bottom: 10px;
  resize: none;
  height: 200px;
}

#contact form label{
  display: flex;
  flex-direction: column;
}

#contact form label input{
  width: 50%;
  font-size: 18px;
}

#contact form button{
  width: 15%;
  padding: 4px 0;
  cursor: pointer;
}

#contact #errors{
  display: flex;
  flex-direction: column;
}

/*===================*/
/*===== PRODUCT =====*/
/*===================*/

#prod > div > p{
	width: 40%;
    margin-left: 60px;
}

#prod > div{
    display: flex;
}

#prod > div img{
	width: 250px;
    height: 200px;
}

#prod > div > div{
    display: flex;
    flex-direction: column;
	width: 15%;
	margin-left: 60px;
}

#prod > div > div button{
	  margin-top: 80px;
    padding: 8px 0px;
    background-color: #4caf50;
    border: none;
    border-radius: 3px;
	  transition: 300ms;
}

#prod > div > div button:hover{
	background-color: green;
	cursor: pointer;
}



/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
